/** Standard HTML tag formatting **************************/

header {
  margin-top: 40px;
  margin-bottom: 40px;
}

footer {
  margin-top: 40px;
  margin-bottom: 40px;
}

article {
 padding-top: 20px;
}

a, a:link, a:visited {
	color: #2255E9;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/** Hack for social integration formatting*****************/

.social li {
	display: inline
}

.fb-share-button {
	position: relative;
	top: -5px;
}

/** Default formatting class ******************************/

.centered {
  float: none;
  margin: 0 auto;
}

.title {
	padding-left: 5px;
}

.tips {
	padding: 10px;
}

/** Post class *******************************************/

.post_entry {
	background-color: #EEEEEE;
	border: 1px lightgray solid;
	color: #555555;
	margin: 5px;
	padding: 10px;
}

.post_entry:hover {
	background-color: #DDDDDD;
}

.post_content {
	padding: 20px;
}

.label-primary a, .label-primary a:hover, .label-primary a:visited {
	color: white;
}

/** Footer list formatting *******************************/

.unpadded {
    padding: 0;
    -webkit-padding-start: 0;
}

.unpadded img {
	width: 32px;
}

a.undecorated, a.undecorated:link, a.undecorated:visited, a.undecorated:hover {
	text-decoration: none;
}

.undecorated li {
	display: inline;
	list-style-type: none;
}

#resume {
	padding: 5%;
	color: black;
	font-size: 9pt;
}

#resume h1 {
	text-decoration: bold;
	font-size: 11pt;
	display: block;
	width: 100%;
	border-bottom: 1px black solid;
}

#resume h2 {
	font-weight: normal;
	font-size: 10pt;
}

.title {
	font-weight: bold;
}

.tiny {
	font-size: 7pt;
}